# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Prsanna Muthukumaraswamy (prablr79)
# Sean Gallacher (gallacher)
# Trevor Dawe (tdawe)
# Shayna Finocchiaro (shaynafinocchiaro)
# Spandita Panigrahi (panigs7)
# Yiming Bao (baoy1)
# Jacob Grosner (JacobGros)
# Shefali Malhotra (shefali-malhotra)
# Adarsh Kumar Yadav (adarsh-dell)
# Alexander Hoppe (hoppea2)
# Sushma T S (tssushma)
# Rajshree Khare (khareRajshree)
# Niranjan N (niranjan-n1)
# Bharath Sreekanth (bharathsreekanth)
# Sharmila Ramamoorthy (sharmilarama)

# for all files:
*@francis-nijay @harishp8889 @prablr79 @gallacher @tdawe @shaynafinocchiaro @panigs7 @baoy1 @JacobGros @shefali-malhotra @adarsh-dell @hoppea2 @tssushma @khareRajshree @niranjan-n1 @atye @bharathsreekanth @sharmilarama
