# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Alexander Hoppe (hoppea2)
# Anand Raja Kesavamoorthy (anandrajak1)
# Bharath Sreekanth (bharathsreekanth)
# Don Khan (donatwork)
# Fernando Alfaro Campos (falfaroc)
# Francis Nijay (francis-nijay)
# Jacob Grosner (JacobGros)
# Mukesh Gandharva (mgandharva)
# Nitesh Rewatkar (nitesh3108)
# Prasanna Muthukumaraswamy (prablr79)
# Rajendra Indukuri (rajendraindukuri)
# Rajkumar Palani (rajkumar-palani)
# Santhosh Lakshmanan (santhoshatdell)
# Satya Narayana Konduri (satyakonduri)
# Sharmila Ramamoorthy (sharmilarama)
# Shayna Finocchiaro (shaynafinocchiaro)
# Shefali Malhotra (shefali-malhotra)
# Trevor Dawe (tdawe)

# for all files:
@anandrajak1 @atye @bharathsreekanth @donatwork @falfaroc @francis-nijay @hoppea2 @JacobGros @mgandharva @nitesh3108 @prablr79 @rajendraindukuri @rajkumar-palani @santhoshatdell @satyakonduri @sharmilarama @shaynafinocchiaro @shefali-malhotra @tdawe
